
.hide {
    display: none !important;
}

.active {
    color: #fff !important;
    background-color: #f02757;
    border-color: #f02757;
}

/* header */
.topbar {
    height: 40px;
    background-color: #222;
}

#header .topbar .contact-header span {
    margin-right: 20px;
}

#header .topbar span,
#header .topbar a {
    color: #cccccc;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

#header .topbar .account-header {
    color: #ccc;
    text-align: right;
}

#header .topbar .account-header a {
    margin-left: 30px;
}

/* ------------------------------- */

#header .main-header {
    position: relative;
    top: 0px !important;
}

#header .main-header .box-header {
    position: relative;
}

.header-upper-menu-mobile {
    display: none;
}

#site-menu-handle img {
    width: 25px;
}

#header .main-header .header-logo a {
    color: #333;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

#header .main-header .header-logo img {
    max-width: 100%;
}

#header .main-header .box-header .header-mid .header-menu-des {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.d-block {
    display: block !important;
}

#main-nav-menu {
    flex: 1;
    display: block;
    overflow-x: hidden;
}

#main-nav-menu .menuList-main>li {
    display: inline-block;
    position: static;
}

#main-nav-menu .menuList-main {
    margin: 0;
    position: relative;
    z-index: 2;
}

#main-nav-menu .menuList-main>li>a {
    color: #000;
    padding: 25px 15px;
    position: relative;
    z-index: 2;
    display: block;
    letter-spacing: 0.6px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

#main-nav-menu .menuList-main>li.action>a {
    color: #f02757;
}

#main-nav-menu .menuList-main>li:hover>a {
    color: #f02757;
}

#main-nav-menu .menuList-main>li>a {
    color: #000;
    padding: 25px 15px;
    position: relative;
    z-index: 2;
    display: block;
    letter-spacing: 0.6px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

/* sub-nav */
#main-nav-menu .menuList-main .has-submenu:hover>.menuList-submain {
    pointer-events: auto;
    visibility: visible;
    top: 100%;
    opacity: 1;
}

/* end sub-nav */

/* end nav */
/* ----------------- */

#header .main-header .box-header .header-mid .header-menu-des .flash-scroll {
    font-size: 16px;
    color: #f02757;
}

#header .main-header .box-header .header-mid .header-menu-des .flash-scroll a {
    color: #f02757;
    font-weight: bold;
}

.header-wrap-icon {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-wrap-icon .header-action {
    margin-left: 8px;
    position: relative;
}

.header-wrap-icon .header-action .header-action-toggle {
    position: relative;
    display: block;
}

.header-wrap-icon .header-action .box-icon {
    position: relative;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.header-wrap-icon .header-action .box-icon img {
    width: 24px;
}

.header-wrap-icon .header-action .box-icon .count {
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    position: absolute;
    top: 0px;
    right: -5px;
    background: #f02757;
    color: #fff;
    font-size: 10px;
    border-radius: 50%;
}

/* ----------------------- */
/* modal search */
.header-wrap-icon .header_dropdown {
    position: absolute;
    left: auto;
    right: 0;
    top: 100%;
    z-index: 999;
    min-width: 300px;
    border-radius: 3px;
    color: #677279;
    background: #fff;
    border: solid 1px #dfe3e8;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
    transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out, max-height 0s linear 0.25s, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, visibility 0.25s ease-in-out, max-height 0s linear 0.25s;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, visibility 0.25s ease-in-out, max-height 0s linear 0.25s, -webkit-transform 0.25s ease-in-out;
    will-change: transform;
}

.header-wrap-icon .header_dropdown .site-search-container {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 12px;
    overflow: hidden;
    min-height: 100%;
    padding: 25px 15px 15px;
}

.header-wrap-icon .header_dropdown .site-search-container .title {
    font-size: 14px;
    margin: 0;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e5ec;
    text-transform: uppercase;
}

.header-wrap-icon .header_dropdown.site_search .wrapper-search {
    padding-top: 20px;
}

.header-wrap-icon .header_dropdown.site_search .wrapper-search .searchform {
    position: relative;
    margin-bottom: 10px;
}

.header-wrap-icon .header_dropdown.site_search .wrapper-search .searchform .btn-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 52px;
    height: 42px;
    line-height: 42px;
    padding: 0;
    border: 0;
    border-radius: 0 4px 4px 0;
    box-shadow: none;
    background: transparent;
    transition: opacity 150ms linear;
}

.header-wrap-icon .header_dropdown.site_search .wrapper-search .searchform .btn-search img {
    width: 15px;
    height: 15px;
}

.header-wrap-icon .wrap-search:hover .site_search {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1), visibility 0.4s linear, -webkit-transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1);
    transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1), transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1), visibility 0.4s linear;
    transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1), transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1), visibility 0.4s linear, -webkit-transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1);
}

.header-wrap-icon .header_dropdown.site_search .wrapper-search .searchform .input-search {
    background: #f5f5f5;
    color: #666666;
    border: 1px solid #ececec;
    width: 100%;
    height: 42px;
    font-size: 13px;
    font-weight: 500;
    padding: 0 55px 0 15px;
    margin: 0;
    display: inline-block;
    border-radius: 4px;
    transition: all 150ms linear;
}

/* end modal search */
/* ------------------------------ */

/* modal cart */
.block-cart .top-cart-content {
    right: 0px;
    top: 35px;
    position: absolute;
    background: #fff;
    padding: 0;
    line-height: normal;
    text-align: left;
    box-shadow: 0px 3px 25px 0px rgba(31, 38, 67, 0.1);
    -o-box-shadow: 0px 3px 25px 0px rgba(31, 38, 67, 0.1);
    -moz-box-shadow: 0px 3px 25px 0px rgba(31, 38, 67, 0.1);
    -webkit-box-shadow: 0px 3px 25px 0px rgba(31, 38, 67, 0.1);
    z-index: 10000;
    transition-duration: 0s;
    transition-delay: .1s;
    opacity: 0;
    visibility: hidden;
}

.CartHeaderContainer {
    width: 340px;
    background-color: #fff;
}

.CartHeaderContainer .cart--empty-message {
    text-align: center;
}

.CartHeaderContainer .cart--empty-message svg {
    width: 80px;
    margin: 15px;
}

    /* end modal cart */
/* --------------------------------- */

/* end header */

/* main */
    /* section-1 */
    #slider {
        display: flex;
    }

    #slider img {
        width: 100%;
    }

    .slide-1 {
        /* padding-top: 36%;  Kĩ thuật chỉnh ảnh nâng cao */
        /* background: url('../img/slider_1.webp') no-repeat top center / cover; */
        /* size là / cover cho chuẩn  */
        /* width: 100%; */
        /* position: relative; */
    }

    .button-next, .button-prev {
        /* position: absolute;
        top: 50%;
        width: 27px;
        height: 44px;
        margin-top: -22px;
        z-index: 10;
        cursor: pointer;
        -moz-background-size: 27px 44px;
        -webkit-background-size: 27px 44px;
        background-size: 27px 44px;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center; */
    }

    .button-prev {
        background-image: url(../img/icon-prev.svg);
        left: 10px;
        right: auto;
    }

    .button-prev:after {
        font-size: 40px;
        font-weight: bold;
        color: #000;
    }
    /* end section-1 */

    /* ------------------------- */

    /* Section-2 */
    .section_service {
        padding: 60px 0;
        position: relative;
        background: #F5F5F5;
    }

    .service__item {
        margin-right: 40px;
    }

    .service--icon {
        width: 40px;
    }

    .service__info {
        padding-left: 16px;
    }

    .service__info h3 {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        color: #000;
        margin-bottom: 4px;
    }

    .service__info p {
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 0;
        line-height: 20px;
        color: #000;
    }
    /* end section-2 */

    /* ---------------------------------- */

    /* section-3 */
    .section__category {
        padding: 60px 0px;
    }

    .heading--home {
        margin-bottom: 20px;
        position: relative;
    }

    .heading--home .title {
        text-align: center;
    }

    .heading--home h2 {
        font-size: 30px;
        display: inline-block;
        margin: 0;
        font-weight: 600;
        position: relative;
        padding-bottom: 18px;
        text-transform: uppercase;
    }

    .heading--home h2:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0px;
        width: 40px;
        height: 3px;
        background-color: #f02757;
        transform: translateX(-50%) translateY(-50%);
    }

    .section__category .item {
        position: relative;
        padding: 30px 15px;
        transition: transform 0.64s cubic-bezier(0.15, 0.75, 0.5, 1) 0s;
        
    }

    .section__category .item:hover {
        transform: scale(1.08) translateZ(0);
    }

    .section__category .item a {
        color: #030303;
    }

    .section__category .item .cate--img {
        position: relative;
        overflow: hidden;
    }

    .section__category .item .cate--info {
        display: grid;
        align-items: center;
        position: relative;
        grid-template-columns: 1fr;
        padding: 0;
        left: auto;
        bottom: auto;
        margin-top: 10px;
        text-align: center;
    }

    .section__category .item .cate--info .cate--name {
        text-align: center;
        font-size: 14px;
        font-weight: 600;
    }

    /* end sectionn-3 */

    /* ---------------------------------- */

    /* section-4 */
    .coupon--initial .coupon--item {
        padding-left: 10px;
        padding-right: 10px;
    }

    .coupon--initial .coupon--item__inner {
        /* display: flex; */
        /* display: -ms-flex; */
        border-radius: 5px;
        height: 100%;
        background-color: #f02757;
        border: 1px solid #f02757;
    }

    .coupon--initial .coupon--item__right {
        flex: 0 0 100%;
        max-width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        /* display: -ms-flex; */
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        /* -ms-justify-content: space-between; */
    }

    .coupon--initial .coupon--item__right .cp--top {
        padding: 15px 0px 15px 15px;
    }

    .coupon--item__right .cp--top .cp-top-title {
        margin-bottom: 7px;
    }

    .coupon--item__right .cp--top .cp-top-title h3 {
        margin: 0;
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
    }

    .coupon--item__right .cp--top .cp-top-title p {
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 0px;
    }

    .coupon--item__right .cp--top .cp-top-detail p {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
        margin-bottom: 0px;
    }

    .coupon--initial .coupon--item__right .cp--bottom {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 10px;
        border-left: 2px dashed #D1D1D1;
    }

    .coupon--item__right .cp--bottom .cp-bottom-btn button {
        background: #fff;
        color: #f02757;
        border: none;
        padding: 6px 15px;
        cursor: pointer;
        outline: none !important;
        box-shadow: none;
        border-radius: 5px;
        line-height: 24px;
        font-size: 14px;
        font-weight: bold;
    }
    /* end section-4 */

    /* -------------------------------- */

    /* section-5 */
    .module__product {
        padding: 60px 0px;
    }

    .section__flash_sale .site--animation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #E2E2E2;
    }

    .heading--home h2 a {
        color: #333;
        line-height: 22px;
        font-size: 30px;
    }

    .section__flash_sale .site--animation h2:after {
        left: 0px;
        transform: initial;
    }

    .section__flash_sale .timer {
        margin-left: 20px;
        display: flex;
        align-items: center;
    }

    .section__flash_sale .timer .text {
        font-size: 16px;
        font-weight: 500;
        margin-right: 10px;
        color: #030303;
    }

    .item__product--main {
        position: relative;
    }

    .item__product--main .product-thumbnail {
        position: relative;
        overflow: hidden;
    }

    .product-thumbnail.sale:before {
        content: attr(data-sale);
        position: absolute;
        top: 20px;
        left: 0px;
        z-index: 3;
        text-align: center;
        color: #fff;
        background: #000;
        font-weight: 500;
        font-size: 13px;
        width: 50px;
        height: 22px;
    }

    .item__product--main .image_thumb {
        display: block;
        position: relative;
        overflow: hidden;
        background: #f5f5f5;
        height: 390px;
    }

    .item__product--main .image_thumb .product-image {
        /* -webkit-transition: all .5s ease; */
        transition: all .5s ease;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: relative;
    }

    .item__product--main .image_thumb img.loaded {
        min-height: unset;
        width: auto !important;
        height: unset !important;
    }

    .item__product--main .image_thumb .product-image.second-image {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 2;
    }

    .pd-right-0 {
        padding-right: 0px;
    }

    .item__product--main .image_thumb img {
        width: auto !important;
        max-height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        -webkit-transition: opacity 800ms ease;
        -moz-transition: opacity 800ms ease;
        -o-transition: opacity 800ms ease;
        transition: opacity 800ms ease;
    }

    .item__product--main:hover .product-thumbnail .image_thumb .product-image.second-image {
        opacity: 1;
    }

    .item__product--main .product-info .lofi-product .product-type {
        color: #999;
        font-size: 12px;
        text-transform: uppercase;
    }

    .item__product--main .product-info .product-name {
        padding: 0;
        overflow: hidden;
        color: #000;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        margin: 8px 0px;
        line-height: 24px;
        /* height: 24px; */
    }

    .item__product--main .product-info .product-name a {
        color: #030303;
        font-size: 14px;
    }

    .item__product--main .product-info .price-box {
        color: #030303;
        line-height: 1.3;
        display: block;
        font-size: 14px;
        font-weight: 700;
        margin-right: 10px;
        margin-bottom: 0;
        padding-right: 0px;
        overflow: hidden;
        position: relative;
        width: 100%;
        -webkit-transition: all 0.15s;
        transition: all 0.15s;
    }

    .item__product--main .product-info .price-box .price {
        margin-right: 5px;
    }

    .item__product--main .product-info .price-box .compare-price {
        text-decoration: line-through;
        font-size: 13px;
        color: #BDBDBD;
        line-height: 17px;
        font-weight: 300;
        display: inline;
    }

    .section__flash_sale .item__product--main .flashsale__bottom {
        margin: 10px 0px;
    }

    .flashsale__bottom .flashsale__label {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .flashsale__bottom .flashsale__progressbar {
        display: block;
        width: 100%;
        height: 6px;
        background: #ebebeb;
        margin-bottom: 3px;
        border-radius: 9999px;
        position: relative;
        overflow: hidden;
    }

    .flashsale__bottom .flashsale___percent {
        width: 0%;
        height: 100%;
        background-color: #f02757;
        border-radius: 99px 0 0 99px;
        position: absolute;
        top: 0;
        z-index: 1;
        background-size: 40px 40px;
    }

    .flashsale__item {
        margin-bottom: 30px;
    }
    /* end section-5 */

    /* ----------------------------------- */

    /* section-6 */
    .section__banner .image_hover {
        position: relative;
        display: block;
        text-align: center;
    }

    .section__banner .image_hover:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
    }

    .section__banner .image_hover:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
    }

    .section__banner .image_hover:hover:before {
        right: 50%;
        left: 50%;
        width: 0;
        background: rgba(255,255,255,0.4);
    }

    .section__banner .image_hover:hover:after {
        height: 0;
        top: 50%;
        bottom: 50%;
        background: rgba(255,255,255,0.4);
    }
    /* end section-6 */

    /* ----------------------------- */

    /* section-7 */
    .section__product__new, .module__product {
        padding: 60px 0px;
    }

    .heading--home .site--animation {
        text-align: center;
    }

    .product-new-slide {
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .item__product--main {
        position: relative;
    }

    .item__product--main .product-thumbnail .action-cart {
        position: absolute;
        top: 10px;
        left: auto;
        right: 10px;
        z-index: 10;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
    }

    .item__product--main .product-thumbnail .action-cart .btn-views {
        width: 38px;
        border: none;
        height: 38px;
        text-align: center;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: #000;
        font-size: 14px;
        margin-bottom: 5px;
        border-radius: 5px;
        border: 1px solid #E1E1E1;
    }

    .item__product--main .product-thumbnail .action-cart .btn-views:hover {
        color: #fff !important;
        background-color: #f02757;
        border-color: #f02757;
    }

    .item__product--main .product-thumbnail .action-cart .btn-views:hover svg path,
    .item__product--main .product-thumbnail .action-cart .btn-views:hover svg rect {
        stroke: #fff;
        fill: #fff;
    }

    .item__product--main .product-info {
        margin: 0px;
        padding: 14px 0px 0px;
        position: relative;
        text-align: left;
    }

    .product-new-slide {
        margin: 30px 6px 0px 0px;
    }
    /* end section-7 */

    /* ---------------------------------- */

    /* section-8 */
    .section__feedback {
        padding: 80px 0px;
        background: rgba(240,39,87,0.1);
    }

    .section__feedback .heading--home {
        margin-bottom: 50px;
    }

    .feedback-slide, .blog--slide {
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .section__feedback .testimonials-wrapper {
        width: 95%;
        max-width: 500px;
        margin: 0 auto;
    }

    .section__feedback .testimonials-wrapper .desc {
        font-size: 15px;
        font-weight: 400;
        line-height: 23px;
        position: relative;
        padding: 30px;
        color: #030303;
        border-radius: 5px;
        background: #fff;
        margin-bottom: 20px;
        box-shadow: 5px 5px 5px 0 rgba(23,23,25,0.3);
    }

    .section__feedback .testimonials-wrapper .testimonials-img {
        position: relative;
        overflow: hidden !important;
        width: 90px;
        height: 90px;
        margin: 0px auto;
        margin-bottom: 10px;
        border-radius: 50%;
    }

    .section__feedback .testimonials-wrapper .testimonials-person-info {
        text-align: center;
        color: #030303;
    }

    .section__feedback .testimonials-wrapper .testimonials-person-info h3 {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 8px;
    }

    .section__feedback .testimonials-wrapper .testimonials-person-info p {
        font-size: 16px;
        margin-bottom: 0px;
    }
    /* end section-8 */

    /* ------------------ */

    /* section-9 */
    .blog--content .blogs-item .post-image {
        overflow: hidden;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        padding-bottom: 66%;
        margin-bottom: 10px;
    }

    .blog--content .blogs-item .post-image .thumb img {
        max-width: 100%;
        max-height: 100%;
        width: auto !important;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transition: all 0.5s;
    }

    .blog--content .blogs-item .post-body .time-post {
        font-size: 14px;
        font-weight: 400;
        color: #A2A4A3;
        display: inline-block;
        margin-right: 10px;
    }

    .blog--content .blogs-item .post-body .time-post svg {
        width: 15px;
        height: 15px;
        margin-top: -5px;
        margin-right: 2px;
        color: #f02757;
    }

    .blog--content .blogs-item .post-body h3 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        line-height: 22px;
        margin-bottom: 10px;
        margin-top: 10px;
        word-break: break-word;
    }

    .blog--content .blogs-item .post-body h3:hover a {
        color: red;
    }

    .blog--content .blogs-item .post-body h3 a {
        display: block;
        font-size: 16px;
        font-weight: 600;
        color: #141514;
    }

    .blog--content .blogs-item .post-body p {
        margin: 12px 0;
        height: 65px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    /* end section-9 */

    /* ------------------------ */

    /* section-10 */
    .section__instagram {
        padding: 80px 0px;
        background-color: #F1F1F1;
    }

    .section__instagram .heading--home h2:after {
        content: none;
    }

    .section__instagram .heading--home h2 {
        padding-bottom: 0px;
        text-transform: none;
        letter-spacing: 0.1em;
        line-height: 60px;
    }

    .section__instagram .instagram-item a:after {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        background-color: rgba(0,0,0,0.51);
    }

    .clearfix::after {
        display: block;
        clear: both;
        /* content: ""; */
    }

    .section__instagram .instagram-item .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        z-index: 5;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
    }

    .section__instagram .instagram-item .icon img {
        width: 35px;
    }

    .section__instagram .instagram-item a:hover:after {
        visibility: visible;
        opacity: 1;
    }

    .section__instagram .instagram-item a:hover .icon {
        visibility: visible;
        opacity: 1;
    }
    /* end section-10 */

    /* --------------------------- */

/* end main */


/* footer */
#footer{
    background-color:#222;
}
.footer .footer-top{
    padding: 35px 0px;
    border-bottom: 1px solid #fff;
}
.footer .footer-top .row {
    align-items: center;}
.footer-top .footer-hotline {
        color: #fff;
        align-items: center;}
.footer .footer-top .footer-hotline .icon {
            margin-right: 24px;
        }
.footer .footer-top .footer-hotline .text a {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    display: block;
    text-decoration: none;
}
.footer .footer-top .footer-hotline .text span {
    color: #999;
    font-size: 14px;
    display: block;
}

.footer .footer-top .footer-social {
    align-items: center;
    justify-content: flex-end;
}
.footer .footer-top .footer-social .title {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}
.footer .footer-top .footer-social .main a {
    margin-left: 10px;
}
.footer .footer-middle {
    padding: 60px 0px;
    position: relative;
}
.footer h4 {
    margin-bottom: 15px;
    color:#fff;
}

.footer .col-contact-footer .about {
    color: #ffff;
    font-size: 13px;
    text-align: justify;
    margin-bottom: 10px;
}
.footer ul {
    padding: 0;
    list-style: none;
}
.footer .col-contact-footer ul li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #fff;
}
.footer .col-contact-footer ul li svg {
    position: absolute;
    left: 0;
    top: 3px;
}
.footer ul li a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}

.footer .footer-menu {
    position: relative;
}
.footer .footer-menu a {
    display: block;
    color: #fff;
    margin-bottom: 10px;
    font-size: 13px;
    text-decoration: none;
}
.footer .footer-menu a:hover {
    color: #f02757;
}
.footer .footer-middle .tuvan-khieunai {
    display: block;
    color: #fff;
    margin-bottom: 20px;
}
.footer .footer-middle .tuvan-khieunai .item {
    font-size: 13px;
    margin-bottom: 10px;
}
.footer .footer-middle .tuvan-khieunai .item a {
    color: #f02757;
    font-size: 13px;
    display: inline-block;
    margin-bottom: 0px;
}

.footer .copyright {
    color: #fff;
    font-size: 13px;
}
.footer .copyright .inner {
    padding: 12px 0;
    border-top: 1px solid rgba(255,255,255,0.5);
}
.footer .copyright a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.footer .payment {
    display: flex;
    justify-content: flex-end;
}
.footer .payment .item {
    display: inline-flex;
    margin-left: 5px;
    vertical-align: top;
}

/* .backtop.show {
    opacity: 1;
} */

.backtop {
    position: fixed;
    top: auto !important;
    bottom: 20px;
    right: 20px;
    background: #f02757;
    height: 45px;
    width: 45px;
    text-align: center;
    z-index: 999;
    /* opacity: 0; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-angle-up:before {
    content: "";
}

/* end footer */

/* --------------------------------------- */

/* quickview */
#quick-view-product {
    bottom: 0;
    left: 0;
    overflow-x: auto;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0 !important;
    z-index: 9999;
}

.quickview-overlay {
    position: fixed;
    top: 0 !important;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
}

#quick-view-product .quick-view-product {
    position: absolute;
    width: 950px;
    top: 5%;
    height: auto;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 30px;
    background-color: #fff;
    z-index: 8011;
    border-radius: 0px;
}

#quick-view-product .large-image .img-product {
    padding-bottom: 100%;
    display: block;
    height: 0;
    position: relative;
    border: 1px solid #e9edf5;
}

#quick-view-product .large-image .img-product img {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100% !important;
    max-height: 100% !important;
    width: auto !important;
    height: auto !important;
    position: absolute;
}

#quick-view-product .thumbs_list_quickview {
    margin-top: 15px;
}

#quick-view-product .thumbs_list_quickview ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#quick-view-product .thumbs_list_quickview ul .swiper-slide.active a {
    border: 1px solid #f02757;
}

#quick-view-product .thumbs_list_quickview ul .swiper-slide a {
    padding-bottom: 100%;
    display: block;
    height: 0;
    position: relative;
    border: 1px solid #e9edf5;
}

.swiper-slide a img {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100% !important;
    max-height: 100% !important;
    width: auto !important;
    height: auto !important;
    position: absolute;
}

#quick-view-product .group-status {
    margin-bottom: 10px;
}

#quick-view-product .product-info .title-product {
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

#quick-view-product .product-info .title-product a {
    color: #333 !important;
}

#quick-view-product .group-status .first_status {
    display: inline-block;
    font-size: 14px;
}

#quick-view-product .group-status .first_status .status_name {
    color: #f02757;
}

#quick-view-product .group-status .line_tt {
    padding: 0 5px;
}

#quick-view-product .price-box {
    margin-bottom: 10px;
    display: block;
}

#quick-view-product .price-box .product-price {
    color: #ef1104;
    font-size: 28px;
    font-weight: bold;
}

#quick-view-product .price-box .old-price {
    color: #a5a5a5;
    font-size: 16px;
    margin-left: 5px;
}

#quick-view-product .product-summary {
    margin-bottom: 10px;
    font-size: 14px;
}

#quick-view-product .selector-wrapper {
    display: none !important;
}

label, legend {
    display: block;
    margin-bottom: 2px;
}

#quick-view-product .swatch {
    font-size: 14px;
    margin-bottom: 5px;
}

.swatch label {
    float: left;
    margin: 0;
    border: 1px solid #f4f4f4;
    background-color: #000;
    text-align: center;
    line-height: 27px;
    white-space: nowrap;
    font-weight: 500;
    padding: 0;
    border-radius: 7px;
}

#quick-view-product .swatch .header {
    margin-bottom: 5px;
}

#quick-view-product .swatch .swatch-element {
    display: inline-block;
    margin: 0px 5px 5px 0;
}

.swatch .swatch-element {
    border: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    padding: 0px;
    text-align: center;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    word-break: break-word;
}

#quick-view-product .swatch .swatch-element label {
    min-width: 36px;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ebebeb;
    cursor: pointer;
    white-space: nowrap;
    padding: 0 5px;
    position: relative;
    margin-bottom: 0;
    color: #fff;
}

#quick-view-product .swatch .swatch-element input:checked+label {
    color: #fff;
    background: #000;
    border-color: #000;
}

.swatch .swatch-element.tim label {
    background-color: #EE82EE !important;
}

#quick-view-product .swatch .swatch-element .tooltip {
    display: none;
}

#quick-view-product .swatch .swatch-element input {
    display: none;
}


#quick-view-product .form_product_content .soluong1 {
    font-size: 14px;
    /* align-items: center; */
}

#quick-view-product .form_product_content .soluong1 .soluong_h {
    margin-bottom: 10px;
    display: block;
}

#quick-view-product .form_product_content .soluong1 .input_number_product {
    width: 130px;
    margin-right: 10px;
    position: relative;
}

#quick-view-product .form_product_content .soluong1 .btn_num.num_1 {
    left: 0px;
    right: auto;
}

#quick-view-product .form_product_content .soluong1 .btn_num {
    border: solid 1px #ddd;
    width: 30px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    height: 45px;
    line-height: 40px;
    cursor: pointer;
    background: initial;
    padding: initial;
}

#quick-view-product .form_product_content .soluong1 #quantity-detail {
    width: 100%;
    height: 45px;
    border: solid 1px #ddd;
    text-align: center;
    padding: 0px 20px;
}

#quick-view-product .form_product_content .button_actions button {
    width: 100%;
    border: initial;
    height: 45px;
    padding: 0 20px;
    background: #f02757;
    color: #fff;
    margin-top: 25px;
}



.product-promotion {
    padding: 10px;
    margin-bottom: 10px;
    border: 2px dashed #f02757;
    margin-top: 20px;
    position: relative;
}

.product-promotion .product-promotion__heading {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 10px;
    color: #f02757;
    background: #fff;
    position: absolute;
    top: -20px;
}

.product-promotion .product-promotion__heading .mr-2, 
.product-promotion .product-promotion__heading .mx-2 {
    margin-right: 0.5rem !important;
}

.product-promotion ul {
    margin-bottom: 0;
    border-radius: 4px;
    padding: 8px 8px 8px 15px;
    list-style: inherit;
    list-style-position: inside;
    background: #fff;
    font-size: 14px;
}

.product-promotion ul li {
    padding: 3px 0;
    margin: 0;
}

#quick-view-product .quick-view-product .quickview-close {
    position: absolute;
    right: -20px;
    top: -20px;
    color: #ffff;
    cursor: pointer;
}

#quick-view-product .quick-view-product .quickview-close svg {
    width: 20px;
    height: 20px;
}

/* --------------------------------------- */

/* popup */
.popup--cart{
    bottom: 0;
    left: 0;
    overflow-x: auto;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0 !important;
    z-index: 9999;
}

.popup__main_content {
    position: absolute;
    width: 950px;
    top: 10%;
    height: auto;
    margin: 0 auto;
    left: 0;
    right: 0;
    /* padding: 30px; */
    background-color: #fff;
    z-index: 8011;
    border-radius: 0px;
}

.popup-cart-top{
    font-size: 16px;
    padding-right: 15px;
    font-weight: 400;
    padding: 20px 50px 20px 20px;
    background: #363636;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.popup-cart-top > span:nth-child(1) svg {
    margin-right: 5px;
}

.popup--count-item{
    border: none;
    width: 10px;
    height: 16px;
    text-align: center;
    background: #363636;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    
}
.popup-cart-sumary{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 0;
    color: #333333;
    padding: 15px 20px;
    display: block;
}

.popup-cart__main{
    margin-bottom: 0;
    background: #fff;
    padding: 0 20px 20px;
}
table {
    width: 100%;
}
.popup--cart__container {
    padding: 0px 20px 20px 20px;
}
.cart-header-info{
    border: solid 1px #ebebeb;
    font-weight: bold;
    width: 100%;
}
.cart-header-info tr th {
    padding: 7px 0px;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    font-weight: 700;
}
tbody tr {
    border: solid 1px #ebebeb;
}
tbody tr td {
    padding: 10px 0px;
}

tbody {
    max-height: 268px;
    overflow-y: auto;
    border: solid 1px #ebebeb;
}

.cart__btn-proceed-checkout {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border: 1px solid #333;
    border-radius: 0px;
}

.cart__btn-proceed-checkout:hover {
    color: #fff !important;
    background-color: #f02757 !important;
    border-color: inherit !important;
}

.namepro {
    display: flex;
    gap: 20px;
    align-items: center ;
    margin-left: 10px;
}
.namepro div {
    display: flex;
    flex-direction: column;
}
.btn-amountPro {
    width: 91px;
    height: 28px;
    display: flex;
    align-items: center;
    border: solid 1px #ddd;
    border-radius: 3px;
    margin: auto;
}
.btn-amountPro button {
    border: none;
    width: 24px;
    height: 23px;
    line-height: 23px;
    cursor: pointer;
    margin: 0 5px;
    font-size: 24px;
    background: #fff;
    padding: 1px 6px;
}
.btn-amountPro input {
    border: none;
    width: 30px;
    text-align: center;
}
.pop-cartft {
    padding-top: 20px;
}
.cart--subtotal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
/* end */
