/*style breadcrum*/
#main .breadcrumb-link{
    width: 100%;
    min-height: 2rem;
    background-color:#f6f6f6;
    margin: 0;
}
li.breadcrumb-item a{
    text-decoration: none;
    color: black;
}
li.action{
    color: #788696;
}


/*main*/
.layout-contact .contact {
    margin-bottom: 20px;
}
.layout-contact .contact h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 13px;
}
.layout-contact .contact .des_foo {
    margin-bottom: 10px;
}
.layout-contact .contact .time_work .item {
    position: relative;
    padding-left: 26px;
    font-size: 14px;
    margin-bottom: 5px;
}
.layout-contact .form-contact .group_contact input {
    padding: 5px 20px;
    height: 40px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.layout-contact .contact .time_work .item svg {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 3px;
    left: 0;
}
.layout-contact .form-contact h4 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}
.layout-contact .form-contact .group_contact .btn-lienhe {
    background: #f02757;
    color: #fff;
    border: initial;
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
#contact_map iframe {
    width: 100%;
    height: 33rem;
}